-
    const MEMORAMA = [
        'tarjeta-memorama-01.svg',
        'tarjeta-memorama-02.svg',
        'tarjeta-memorama-03.svg',
        'tarjeta-memorama-04.svg',
        'tarjeta-memorama-05.svg',
        'tarjeta-memorama-06.svg',
        'tarjeta-memorama-07.svg',
        'tarjeta-memorama-08.svg',
    ]