-
    const MENU = [
        {
            href: "#memorama",
            content: "Memorama",
        },
        {
            href: "#sopa-de-letras",
            content: "Sopa de letras",
        },
        {
            href: "#crucigrama",
            content: "Crucigrama",
        },
        {
            href: "#videos",
            content: "Videos",
        },
    ]