.memorama {
    background-color: var(--text-alt);
    padding: var(--xl);
}

.cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--xl);

    &__item {
        margin-right: auto;
        margin-left: auto;
    }
}