.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'description'
                         'thumbnail';
    row-gap: var(--xx);

    &__child:nth-child(1) {
        grid-area: thumbnail;
    }

    &__child:nth-child(2) {
        grid-area: description;
    }

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1;
        grid-template-areas: 'thumbnail description';
        gap: var(--xl);

        &__child:nth-child(1) {
            grid-area: thumbnail;
        }

        &__child:nth-child(2) {
            grid-area: description;
        }
    }
}