include ../config/conf_asociados
ul.asociados
    each asociado in arrAsociados
        li.asociados__item
            a(href=`${asociado.href}`, target="_blank"): img(src=`${pathImg}${asociado.logo}`, class="asociados__logo", alt="asociado amsofipo")