ul.card-video.grid-six-six
    li.card-video__item.grid-six-six__child
        .card-video__thumbnail
                img(src=`${pathImg}video-thumbnail-01.png`, alt="video thumbnail")
        .card-video__content
            h4.small.sbold.second 4:24
            p.body.light.text-body Nombre del video
    li.card-video__item.grid-six-six__child
        .card-video__thumbnail
            img(src=`${pathImg}video-thumbnail-02.png`, alt="video thumbnail")
        .card-video__content
            h4.small.sbold.second 4:24
            p.body.light.text-body Nombre del video