.flag
    .flag__icon
    .flag__content
        p.flag__label Memorama

.flag
    .flag__icon
    .flag__content
        p.flag__label Sopa de letras

.flag
    .flag__icon
    .flag__content
        p.flag__label Crucigrama