.infografias
    .infografias__child
        img(src="", alt="infografia")
    .infografias__child
        img(src="", alt="infografia")
    .infografias__child
        img(src="", alt="infografia")
    .infografias__child
        img(src="", alt="infografia")
    .infografias__child
        img(src="", alt="infografia")
    .infografias__child
        img(src="", alt="infografia")